@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    color: var(--background-color);
    background: var(--text-color);
  }




.lightmode{
    --text-color:black;
    --background-color:white;
    --card-bg:#e2e2e8;
    --btncolor: orange;
}
.darkmode{
    --text-color:white;
    --background-color:black;
    --card-bg:#2d2d31;
    --btncolor:rgb(238, 229, 103);

}
.darkmode .app .header .logo{
    
    background-image: url("./components/images/vecelldark.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 0px;
}

*{
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    user-select: none;
}
.container{
    width: 100vw;
    height: fit-content;
    padding-top: 70px;
}
.ig{
    height:fit-content;
    width: fit-content;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5PX;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    box-sizing:content-box;
    line-height: 44px;
    color: var(--text-color);
    /* border-radius: 3px; */
    background-color: inherit;
    
    border-bottom: 5px solid var(--background-color);
}
.header{
    position: fixed;
    width:100%;
    height:fit-content;
    z-index: 10;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding-left: 20px ;
    padding-right: 40px ;
    align-items: center;
    background-color: var(--background-color);
}
.logo{
    width: 70px;
    height: 70px;
    background-image: url(./components/images/vecell.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
}
.lnk{
    display: flex;
    gap: 30px;
    align-items: center;
    background-color: none;
}
.ig:hover{
    color: var(--btncolor);
}
#Home{

    display: flex;
    width:100vw;
    height: 100vh;
    align-items: center;
    
    padding: 60px;
    margin-top: -70px;
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing: border-box;
    
}

.info{
    height: fit-content;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap:0px;

}

.slider{
    width: 45%;
    height:600px;
    margin: auto;
}
.slider img{
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    animation-name: updown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes updown {
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(10px);
    }
}
.info h1{
    width: fit-content;
    margin:0px;
    font-family: Inter;
    font-size: 5vh;
}
.info h2{
    font-size: 4.3vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
}
.subtitle{
    margin-top: 25px;
    border-top: 2px solid var(--text-color);
    width:100%;
    height: fit-content;
   
    font-size: 2.7vh;
    color: var(--text-color);
    padding-top: 10px;
}

.info a{
    background-color: var(--btncolor);
    cursor: pointer;
    border: 0px;
    padding: 15px;
    width: fit-content;
    height: fit-content;
    font-size: 1.3rem;
    color: var(--background-color);
    border-radius: 15px;
    margin-top:20px ;
    transition: 1s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.info button:hover{
    background-color: rgb(100, 128, 0);
}

.About{
    width:100vw;
    height: fit-content;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0px; 
    display: flex;
    align-items: center;
    gap: 20px;
    
    padding-bottom: 40px;
    background-color: var(--btncolor);
    color: black;
}
.word{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--btncolor);
    color: black;
}
.text{
    width: fit-content;
    height: 77px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 540;
    font-size: 50px;
    line-height: 77px;
    background-color: var(--btncolor);
    color: black;
}
p{
    text-align:justify;
    font-size:1.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--btncolor);
    color: black;
}
.points{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--btncolor);
    color: black;
    padding-left:2rem;
    font-size:1rem;
}




.text h1 {
    font-size: 1.3rem;
}
.text h3{
    font-size: 1rem;
}

p{
    line-height: 25px;
}
ul{
    font-size: 1rem;
}
.card{
    width:300px;
    height: 420px;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--text-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card h1{
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--text-color);
    color: var(--background-color);
}

.card p{
    text-align: justify;
    font-size: small;
    background-color: var(--text-color);
    color: var(--background-color);
}
.card img{
    border-radius: 10px;
}
.activity{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 60px;
   
    gap: 40px;
}
.activities{
    width: 100vw;
    height: fit-content;
    padding-top: 50px;
    background-color: var(--background-color);
}
.headofactivity{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--background-color);
}

i{
    margin-bottom:3px;
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: #ffffff00;
    font-size: 18px;
}

.homepage{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 70px;
    box-sizing: border-box;
}
.homeimage{
    width:95%;
    height: 600px;
    border-radius: 20px;
    object-fit: cover;
}

.domains{
    display: flex;
    flex-wrap: wrap;
    gap:40px;
    padding: 60px;
    justify-content: center;
    background-color: inherit;
}

.domain{
    width:300px;
    height: 470px;
    overflow: hidden;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 7px;
    gap:5px;
    background-color: var(--text-color);
    color: var(--background-color);
    border: 1px solid black;
    box-shadow: 1px black;
}
.domain p{
    background-color: var(--text-color);
    color: var(--background-color);
}
.domain h1{
    background-color: var(--text-color);
    color: var(--background-color);
}
.domain img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}
.donainsclass{

    width: 100vw;
    height: fit-content;
}

.transformations{
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.message{
    width: 500px;
    height: 200px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    padding: 15px;
    /* border: 1px solid black; */
}
.message img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 50%;
}
.nameof h1{
    font-size: 2rem;
    font-weight: bold;
    line-height: 4px;
}
.nameof{
    display: flex;
    flex-direction: column;
}
.nameof p{
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: .8rem;
    line-height: 1.5rem;
    padding-left: 15px;
}
.nameof h2{
    text-align: end;
    font-weight: bold;
}

.messages{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    padding: 60px;
}

.transformhead{
    width: 100%;
    text-align: center;
    font-size: 3rem;
}



.member{
    height:250px;
    width: 190px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
   
     
}
.memberimage{
    width:100%;
    height:100%;

    border-top-left-radius:8px ;
    border-top-right-radius:8px ;
    transition: .9s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member:hover{
    border: 2px solid var(--btncolor);
}
.member:hover .memberimage{
    width:80px;
    height:80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f6f6;
    
    margin-top: 30px;
    margin-bottom: 30px;
}
.member:hover .line1{
    margin: 0px;
    position: static;
    color: var(--text-color);
    text-decoration: none;
    background-color: transparent;
    font-size: 19px;
    line-height: 1;
    margin-bottom: 15px;
}
.member:hover .line2{
    height: auto;
    margin-bottom: 35px;

}
.member:hover .links{
    height: auto;

}
.member:hover .memig{
    border-radius: 50%;

}


.memig{
    width:100%;
    height:100%;
    object-fit: cover;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    
}
.links a i{
    color: var(--btncolor);
}
.links a:hover i{
    color: var(--btncolor);
    transform: scale(1.03);

}
.line1{
    color: var(--text-color);
    text-decoration: none;
    background-color: transparent;
    font-size: 19px;
    line-height: 1;
    margin-bottom: 15px;
}
.line2{
    font-size: 15px;
    color: var(--btncolor);
    line-height: 1;
    margin-bottom: 35px;
}
.line1{
    position: absolute;
    color: #f9f6f6;
    margin-top: 180px;
}
.line2, .links{
    height: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}
.team{
    padding-top:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team h1{
    font-size: 1.5rem;
    color: var(--btncolor);
}
.thirdyr{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    gap:40px;
    justify-content: center;
}


.slides{
    width: 50%;
    height:fit-content;
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
}
.imges{
    width: 100%;
    height: 450px;
    background-color: var(--btncolor);
    display: flex;
    justify-content: center;
    align-items: end;
}


.contact{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    padding-top: 100px;
}
.contactform{
    width: 30%;
    height:500px;
    background-color: var(--text-color);
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 60px;
    justify-content: space-between;
    border-top-left-radius:15px ;
    border-bottom-left-radius:15px ;
}
.contactform h1{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--background-color);
    background-color: inherit;
    color: inherit;
}
.contactform input{
    background-color: inherit;
    color: inherit;
    outline: none;
}

.contactform textarea{
    background-color: inherit;
    color: inherit;
    outline: none;
}


.contactdetails{
    width: 40%;
    height: 500px;
    padding: 40px;
    border-top-right-radius:15px ;
    border-bottom-right-radius:15px ;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    border: 1px solid var(--text-color);
}
.contactdetails img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.link{
    display: flex;
    gap:10px;
}
.navbtns{
    display: flex;
    gap:20px;
}
.menubtn{
    width: 0px;
    visibility: hidden;
}

@media( width <700px) {

    .linkss{
        visibility: hidden;
        position: absolute;
    }
    .active{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 50%;
        height: fit-content;
        background-color: var(--background-color);
        right: 0px;
        top: 0px;
        z-index: -1;
        margin-top: 70px;
        border-bottom-right-radius:10px ;
        border-bottom-left-radius:10px ;

        border: 1px solid var(--text-color);
        border-top:0px ;
        visibility: visible;
    }

    .header{
        display: flex;
        width: 100vw;
        height: fit-content;
        padding-right: 20px;
    }
    #Home{
        width: 100%;
        height: 100vh;
        flex-wrap: wrap;
    }
    .menubtn{
        width: fit-content;
        visibility: visible;
    }
    .info{
        height: fit-content;
    }
    .info h1{
        font-size: 25px;
        font-weight: bold;
    }
    .info h2{
        font-size: 20px;
    }
    .subtitle{
        border-top:1px solid var(--text-color);
        width: 90%;
        height: fit-content;
        font-size: 15px;
    }
    .info a{
        padding: 5px;
        border-radius: 3px;
        font-size: 15px;
    }
    .slider{
        padding-top: 10px;
        width:250px;
        height: 250px;
    }
    .About{
        justify-content: center;
        flex-wrap: wrap;
    }
    .slides{
        width: 90%;
        height: 300px;
        margin-top: 20px;
    }
    .imges{
        height: 300px;
    }
    
    .word{
        width: 90%;

    }
    .word h1{
        font-size: 25px;
    }
    .word p{
        font-size: 12px;
        line-height: 16px;
    }
    .points{
        padding-right: 20px;
        font-size: 12px;
        line-height: 16px;
    }
    .donainsclass h1{
        font-size: 25px;
    }
    .domain{
        width: 160px;
        height: 480px;
    }
    .card{
        width: 160px;
        height: 300px;
    }
    .domain h1{
        font-size: 15px;
    }
    .card h1{
        font-size: 10px;
    }
    .domain p, .card p{
        font-size: 8px;
        line-height: 14px;
    }
    .domains , .messages, .activity{
        width: 100%;
        height: fit-content;
        gap: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .thirdyr{
        gap: 10px;
    }
    .transformations h1, .team h1{
        font-size: 20px;
    }
    .activities{
        padding-top: 0px;
    }
    .message{
        width: 170px;
        height: fit-content;
    }
    .member{
        width: 170px;
        height: 250px;
    }
    
    .message img{
        width: 40px;
        height: 40px;
    }
    .nameof h1{
        font-size: 10px;
    }
    .nameof p{
        font-size: 4px;
        line-height: 6px;
        padding-left: 3px;
    }
    .nameof h2{
        font-size: 5px;
    }
    .thirdyr{
        width: 100%;
        gap:10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .team{
        padding-top: 0px;
    }
   
    .messages{
        padding-top: 10px;
    }
    
    .contactform{
        width: 40%;
        height:300px;
        padding: 10px;
    }
    .contactform h1{
        font-size: 15px;
    }
    .contactform input{
        font-size: 10px;
    }
    
    .contactform textarea{
        font-size: 10px;
    }
    .contactdetails{
        width: 40%;
        height: 300px;
        padding: 10px;
        justify-content: center;
        gap: 25px;
    }
    .contactdetails img{
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
    .link{
        display: flex;
        gap:10px;
    }
}